.product {
	background: var(--white-color);
	padding: 40px 0;
	background: linear-gradient(
		var(--white-color) 0%,
		var(--darker-white-color) 100%
	);
	&__list {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		width: 100%;
		gap: 24px;
	}
	&__container {
		display: flex;
		flex-wrap: wrap;
	}
	&__item {
		grid-column: 4 span;
		font-size: 18px;
		line-height: 120%;
		transition: filter 0.4s ease-in-out, transform 0.2s ease-in-out;
		box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06),
			0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
		padding: 20px;
		background: var(--black-color);
		color: var(--white-color);
		border-radius: 12px;

		&:hover {
			transform: translateX(6px);
		}
	}
	&__info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 60px;
	}
	&__description {
		max-width: 45%;
		font-weight: 400;
		font-size: 18px;
		line-height: 29px;
		margin: 0;
	}
	&__hr {
		margin: 30px 0;
		margin-top: 80px;
		height: 2px;
		border: none;
		position: relative;
		overflow: visible;
		background: rgba(0, 0, 0, 0.2);
		width: 100%;
		&::after {
			content: "";
			border: 2px solid var(--grey-color);
			background: var(--grey-color);
			position: absolute;
			width: 10%;
			top: -1px;
			animation: anim-hr 5s linear infinite;
		}
		@keyframes anim-hr {
			0% {
				left: -10%;
			}
			100% {
				left: 100%;
			}
		}
	}
}

@media (max-width: 1024px) {
	.product {
		&__description {
			padding-left: 18px;
		}
	}
}

@media (max-width: 768px) {
	.product {
		&__info {
			flex-direction: column;
			align-items: center;
		}
		&__description {
			padding-top: 24px;
			padding-left: 0;
			max-width: 100%;
		}
		&__list {
		}
		&__item {
			grid-column: 6 span;
			&:last-child {
				grid-column: 12 span;
			}
		}
	}
}

@media (max-width: 425px) {
	.product {
		&__item {
			grid-column: 12 span;
		}
	}
}
