<section class="description">
	<div class="description__bg">
		<div class="container description__container">
			<ul class="list-reset description__list">
				<li
					class="description__ingredient description__ingredient-left"
				>
					<svg class="description__icon">
						<use xlink:href="img/sprite.svg#flask"></use>
					</svg>
					<h4 class="description__title">Углерод</h4>
				</li>
				<li
					class="description__ingredient description__ingredient-left"
				>
					<svg class="description__icon">
						<use xlink:href="img/sprite.svg#flask"></use>
					</svg>
					<h4 class="description__title">Водород</h4>
				</li>
				<li
					class="description__ingredient description__ingredient-left"
				>
					<svg class="description__icon">
						<use xlink:href="img/sprite.svg#flask"></use>
					</svg>
					<h4 class="description__title">Гелий</h4>
				</li>
			</ul>
			<div class="description__ingredient-center">
				<img
					loading="lazy"
					src="./img/product.png"
					class="image description__product"
					width="291"
					height="451"
					alt="Изображение продукта"
				/>
				<button
					class="btn-reset btn__primary description__btn makeOrderBtn"
				>
					Заказать
				</button>
			</div>
			<ul class="list-reset description__list">
				<li
					class="description__ingredient description__ingredient-right"
				>
					<svg class="description__icon">
						<use xlink:href="img/sprite.svg#flask"></use>
					</svg>
					<h4 class="description__title">Кислород</h4>
				</li>
				<li
					class="description__ingredient description__ingredient-right"
				>
					<svg class="description__icon">
						<use xlink:href="img/sprite.svg#flask"></use>
					</svg>
					<h4 class="description__title">Калий</h4>
				</li>
				<li
					class="description__ingredient description__ingredient-right"
				>
					<svg class="description__icon">
						<use xlink:href="img/sprite.svg#flask"></use>
					</svg>
					<h4 class="description__title">Кальций</h4>
				</li>
			</ul>
		</div>
	</div>
</section>
