<section class="feedback">
	<div class="container feedback__container">
		<div class="swiper feedback__swiper">
			<div class="feedback__header">
				<h2 class="feedback__title">Отзывы</h2>
				<div class="feedback__navigation">
					<button class="feedback__btn prev-btn">
						<svg class="feedback__arrow feedback__arrow-left">
							<use xlink:href="./img/sprite.svg#arrow"></use>
						</svg>
					</button>
					<button class="feedback__btn next-btn">
						<svg class="feedback__arrow feedback__arrow-right">
							<use xlink:href="./img/sprite.svg#arrow"></use>
						</svg>
					</button>
				</div>
			</div>
			<div
				class="swiper-pagination swiper-pagination slide__pagination"
			></div>
			<div class="swiper-wrapper feedback__container-swiper">
				<div class="swiper-slide slide">
					<div class="slide__header">
						<img
							src="./img/author-1.webp"
							class="slide__img"
							alt="Изображение автора"
						/>
						<h5 class="slide__author">Frank Zimmerman</h5>
					</div>
					<p class="slide__text">
						Далеко-далеко за словесными горами в стране гласных и
						согласных живут рыбные тексты. Рукопись запятой большой
						курсивных дороге.
					</p>
				</div>
				<div class="swiper-slide slide">
					<div class="slide__header">
						<img
							src="./img/author-2.webp"
							class="slide__img"
							alt="Изображение автора"
						/>
						<h5 class="slide__author">Mike Wazovski</h5>
					</div>
					<p class="slide__text">
						Далеко-далеко за словесными, горами в стране гласных и
						согласных живут рыбные тексты. От всех продолжил пояс
						толку языком взгляд буквоград города великий, имеет
						своего грустный безорфографичный страну.
					</p>
				</div>
				<div class="swiper-slide slide">
					<div class="slide__header">
						<img
							src="./img/author-3.webp"
							class="slide__img"
							alt="Изображение автора"
						/>
						<h5 class="slide__author">Filipp Jordan</h5>
					</div>
					<p class="slide__text">
						Далеко-далеко за словесными горами в стране гласных и
						согласных живут рыбные тексты. Прямо над по всей,
						вершину первую продолжил текстами всемогущая проектах
						заглавных, даже то, языком до рукописи меня необходимыми
						точках?
					</p>
				</div>
				<div class="swiper-slide slide">
					<div class="slide__header">
						<img
							src="./img/author-2.webp"
							class="slide__img"
							alt="Изображение автора"
						/>
						<h5 class="slide__author">Frank Zimmerman</h5>
					</div>
					<p class="slide__text">
						Далеко-далеко за словесными горами в стране гласных и
						согласных живут рыбные тексты. Назад пор что о.
					</p>
				</div>
				<div class="swiper-slide slide">
					<div class="slide__header">
						<img
							src="./img/author-3.webp"
							class="slide__img"
							alt="Изображение автора"
						/>
						<h5 class="slide__author">Frank Zimmerman</h5>
					</div>
					<p class="slide__text">
						Далеко-далеко за словесными горами в стране, гласных и
						согласных живут рыбные тексты. О, себя? Меня себя щеке
						имеет рукопись предупредила речью но на берегу
						повстречался она даль свое его несколько назад семь
						пунктуация переписали океана заголовок использовало
						коварный, коварных скатился лучше? Буквоград, коварных?
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
