<section class="hero">
	<div class="hero__intro">
		<div class="hero__video">
			<video
				class="hero__media"
				src="heroBg.mp4"
				autoplay
				muted
				loop
			></video>
		</div>
		<div class="hero__container">
			<h1 class="title__primary">
				“LevelUp”. Продукт для повышения потенции.
			</h1>
			<div class="container hero__content">
				<img
					loading="lazy"
					src="./img/product.png"
					class="image image__primary hero__image"
					alt="Изображение продукта"
				/>
				<div class="hero__advantages">
					<h3 class="hero__subtitle">
						Основные преимущества продукта:
					</h3>
					<ul class="hero__list list-reset">
						<li class="hero__item">
							Далеко-далеко за словесными горами в стране гласных,
							и согласных живут рыбные тексты. Рот взгляд выйти
							скатился которой.
						</li>
						<li class="hero__item">
							Далеко-далеко за словесными горами в стране гласных
							и согласных живут рыбные тексты. Оксмокс, осталось
							свой!
						</li>
						<li class="hero__item">
							Далеко-далеко за словесными горами в стране гласных
							и согласных живут рыбные тексты. Даже которое
							последний правилами маленький пустился. На берегу,
							сих.
						</li>
					</ul>
					<button class="btn-reset btn__primary makeOrderBtn">
						Заказать
					</button>
				</div>
			</div>
		</div>
	</div>
</section>
