<section class="product">
	<div class="container product__container">
		<div class="product__info">
			<img
				loading="lazy"
				src="./img/doctor.png"
				class="image product__image"
				alt="Изображение доктора с продуктом"
			/>
			<div class="product__description">
				<p>
					Далеко-далеко за словесными горами в стране гласных и
					согласных живут рыбные тексты. Пор себя ее сих злых меня,
					продолжил деревни, рекламных ведущими щеке маленький запятой
					текст он послушавшись которое решила даль реторический! Свой
					подзаголовок выйти заглавных рукописи злых продолжил lorem
					то за текста запятых даже живет знаках, маленький точках сих
					которое буквенных единственное переписывается до букв о
					переулка которой.
				</p>
				<button
					class="btn-reset btn__primary btn__primary-dark makeOrderBtn"
				>
					Заказать
				</button>
			</div>
		</div>
		<ul class="list-reset product__list">
			<li class="product__item">
				Далеко-далеко за словесными горами в стране гласных и согласных
				живут рыбные тексты. Собрал силуэт вскоре запятых.
			</li>
			<li class="product__item">
				Далеко-далеко за словесными горами в стране гласных и согласных
				живут рыбные тексты. За, там силуэт?
			</li>
			<li class="product__item">
				Далеко-далеко за словесными горами в стране гласных и согласных,
				живут рыбные тексты. Заглавных, заманивший!
			</li>
		</ul>
	</div>
	<div class="container container-hr">
		<hr class="product__hr" />
	</div>
</section>
